@charset "UTF-8";
@font-face {
  font-family: 'Droid Sans';
  src: url("../fonts/DroidSans-Bold.eot");
  src: url("../fonts/DroidSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans-Bold.woff2") format("woff2"), url("../fonts/DroidSans-Bold.woff") format("woff"), url("../fonts/DroidSans-Bold.ttf") format("truetype"), url("../fonts/DroidSans-Bold.svg#DroidSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Droid Sans';
  src: url("../fonts/DroidSans.eot");
  src: url("../fonts/DroidSans.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans.woff2") format("woff2"), url("../fonts/DroidSans.woff") format("woff"), url("../fonts/DroidSans.ttf") format("truetype"), url("../fonts/DroidSans.svg#DroidSans") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

header .header-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-body .header-logo {
  position: relative;
  z-index: 3;
}

header .header-body .blink {
  -webkit-animation: blink 1.5s linear 1.5s infinite alternate;
          animation: blink 1.5s linear 1.5s infinite alternate;
  /* Параметры анимации */
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
    /* Непрозрачный текст */
  }
  to {
    opacity: 0;
    /* Прозрачный текст */
  }
}

@keyframes blink {
  from {
    opacity: 1;
    /* Непрозрачный текст */
  }
  to {
    opacity: 0;
    /* Прозрачный текст */
  }
}

header .header-body .header-burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

header .header-body .header-burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

header .header-body .header-burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

header .header-body .header-menu .header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-body .header-menu .header-list li {
  list-style: none;
  margin-left: 35px;
  position: relative;
  z-index: 2;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

header .header-body .header-menu .header-list li .header-link {
  font-family: 'Droid Sans';
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 2;
}

@media (min-width: 900px) {
  .header-link {
    padding-top: 40px;
    margin-top: -40px;
  }
  #header-link:hover {
    border-top: 4px solid #4bcaff;
    color: #4bcaff;
  }
}

@media (max-width: 900px) {
  body.lock {
    overflow: hidden;
  }
  header .header-body {
    height: 70px;
  }
  header .header-body .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  header .header-body .header-burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  header .header-body .header-burger::before, header .header-body .header-burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  header .header-body .header-burger::before {
    top: 0;
  }
  header .header-body .header-burger::after {
    bottom: 0;
  }
  header .header-body .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 75%;
    background-color: black;
    opacity: 0.8;
    padding-top: 80px;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  header .header-body .header-menu .header-list {
    display: block !important;
  }
  header .header-body .header-menu .header-list li {
    margin-bottom: 20px;
  }
  header .header-body .header-menu .header-list li .header-link {
    font-size: 25px;
  }
  header .header-body .header-menu .header-list li #header-link:active {
    margin-left: -10px;
    padding-left: 10px;
    border-left: 4px solid #4bcaff;
    color: #4bcaff;
  }
  header .header-body .header-menu.active {
    top: 0;
  }
}

.main-banner {
  background-image: url("../images/main-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-banner .container-special {
  max-width: 1500px;
  margin: 0 auto;
}

.main-banner .container-special .owl-carousel {
  padding-top: 100px;
}

.main-banner .container-special .owl-carousel .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.main-banner .container-special .owl-carousel .slide img {
  max-width: 630px;
  top: 100px;
}

.main-banner .container-special .owl-carousel .slide .text-block {
  margin-top: 180px;
}

.main-banner .container-special .owl-carousel .slide .text-block h2 {
  font-family: "Lato", sans-serif;
  font-size: 48px;
  line-height: 100%;
  font-weight: lighter;
  color: #fff;
}

.main-banner .container-special .owl-carousel .slide .text-block h2 span {
  font-weight: bold;
}

.main-banner .container-special .owl-carousel .slide .text-block p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 120%;
  font-weight: lighter;
  color: #fff;
  margin-top: 30px;
  max-width: 670px;
}

.main-banner .container-special .owl-carousel .slide .text-block .button-block {
  margin-top: 40px;
}

.main-banner .container-special .owl-carousel .slide .text-block .button-block a {
  display: inline-block;
  max-width: 195px;
  width: 100%;
  border: 2px solid #fff;
  text-align: center;
  height: 65px;
  padding: 20px 0;
  font-size: 15px;
  line-height: 120%;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main-banner .container-special .owl-carousel .slide .text-block .button-block a:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-banner .container-special .owl-carousel .slide .text-block .button-block .dl-button:hover {
  background-color: #4bcaff;
  border: 2px solid #4bcaff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-banner .container-special .owl-carousel .slide .text-block .button-block a.learn-button {
  background-color: #4bcaff;
  border: 2px solid #4bcaff;
  margin-left: 40px;
}

.main-banner .container-special .owl-carousel .slide .text-block .button-block a.learn-button:hover {
  background-color: inherit;
  border: 2px solid #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */