@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/DroidSans-Bold.eot');
    src: url('../fonts/DroidSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DroidSans-Bold.woff2') format('woff2'),
        url('../fonts/DroidSans-Bold.woff') format('woff'),
        url('../fonts/DroidSans-Bold.ttf') format('truetype'),
        url('../fonts/DroidSans-Bold.svg#DroidSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/DroidSans.eot');
    src: url('../fonts/DroidSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DroidSans.woff2') format('woff2'),
        url('../fonts/DroidSans.woff') format('woff'),
        url('../fonts/DroidSans.ttf') format('truetype'),
        url('../fonts/DroidSans.svg#DroidSans') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$main-font:    'Lato', sans-serif;

*, *:before,*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: $main-font;
}



.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    .header-body{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
        
        .header-logo{
            position: relative;
            z-index: 3;
        }
        .blink {
            animation: blink 1.5s linear 1.5s infinite alternate; /* Параметры анимации */
           }
           @keyframes blink {
            from { opacity: 1; /* Непрозрачный текст */ }
            to { opacity: 0; /* Прозрачный текст */ }
           }
        
        // .header-burger{
            
        // }
        .header-burger.active span{
            transform: scale(0);
            
        }
        .header-burger.active::before{
            transform: rotate(45deg);
            top: 9px;
        }
        .header-burger.active::after{
            transform: rotate(-45deg);
            bottom: 9px;
        }
        .header-menu{
            
            .header-list{
                display: flex;
                li{
                    list-style: none;
                    margin-left: 35px;
                    position: relative;
                    z-index: 2;
                    // padding-top: 40px;
                    // margin-top: -40px;
                    box-sizing: content-box;
                    .header-link{
                        font-family: 'Droid Sans';
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 12px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 2;
}
@media (min-width: 900px) {
    .header-link{
        padding-top: 40px;
        margin-top: -40px;
    }
    #header-link:hover{
        border-top: 4px solid #4bcaff;
        color: #4bcaff ;
    }
}
@media (max-width:900px) {
    body.lock{
        overflow: hidden;
    }
    header{
        .header-body{
            height: 70px;
            .header-burger{
                display: block;
                position: relative;
                width: 30px;
                height: 20px;
                position: relative;
                z-index: 3;
                span{
                    background-color: #fff;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    top: 9px;
                    transition: all 0.3s ease 0s;
                }
            }
            .header-burger::before,.header-burger::after{
                content: "";
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }
            .header-burger::before{
                top: 0;
            }
            .header-burger::after{
                bottom: 0;
            }
            .header-menu{
                position: fixed;
                top: -100%;
                left: 0;
                width: 100%;
                height: 75%;
                background-color: black;
                opacity: 0.8;
                padding-top: 80px;
                overflow: auto;
                transition: all 0.3s ease 0s;
                .header-list {
                    display: block !important;
                    li{
                        margin-bottom: 20px;
                        .header-link{
                            font-size: 25px;
                        }
                        #header-link:active{
                            margin-left: -10px;
                            padding-left: 10px;
                            border-left: 4px solid #4bcaff ;
                            color: #4bcaff;
                        }
                    }
                }
            }
            .header-menu.active{
                top: 0;
            }
        }
    }
    
}

.main-banner{
    background-image: url("../images/main-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .container-special{
        max-width: 1500px;
        margin: 0 auto;
        .owl-carousel{
            padding-top: 100px;
            
            .slide{
                display: flex;

                overflow: auto;
                img{
                    max-width: 630px;
                    top: 100px;
                }
                .text-block{
                    margin-top: 180px;
                    h2{
                        font-family: $main-font;
                        font-size: 48px;
                        line-height: 100%;
                        font-weight: lighter;
                        color: #fff;
                        span{
                            font-weight: bold;
                        }
                    }
                    p{
                        font-family: $main-font;
                        font-size: 18px;
                        line-height: 120%;
                        font-weight: lighter;
                        color: #fff;
                        margin-top: 30px;
                        max-width: 670px;
                    }
                    .button-block{
                        margin-top: 40px;
                        a{
                            display: inline-block;
                            max-width: 195px;
                            width: 100%;
                            border: 2px solid #fff;
                            text-align: center;
                            height: 65px;
                            padding: 20px 0;
                            font-size: 15px;
                            line-height: 120%;
                            font-weight: bold;
                            color: #fff;
                            text-decoration: none;
                            border-radius: 10px;
                            transition: 0.3s ease;
                        }
                        a:active{
                            transform: scale(1.1);
                        }
                        .dl-button:hover{
                            background-color: #4bcaff;
                            border: 2px solid #4bcaff;
                            transform: scale(1.1);
                        }
                        a.learn-button{
                            background-color: #4bcaff;
                            border: 2px solid #4bcaff;
                            margin-left: 40px;
                        }
                        a.learn-button:hover{
                            background-color: inherit;
                            border: 2px solid #fff;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
    
}

